{
  "extends": "semi-4standard",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}