<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>VS TimeMachine Judge</title>
    <link rel="stylesheet" href="/main.css" />

</head>
<body>
<input type="hidden" id="judge_name" th:value="${#authentication.name}">
<div class="theme-light">
    <div class="wrapper">
        <div id="react"></div>
    </div>
</div>

<footer class="footer">
    <div class="text-right footer_button"  id="button_footer_field">
    </div>
    <div class="text-left py-2 footer_status" id="status_footer_field">
    </div>
</footer>
<script src="built/bundle.js"></script>
</body>
</html>